<div class = center>
  <h2 *ngIf="!!user"> 
    Medical History: {{ user.displayName }} 
    <br>  
  </h2>
  <p>  
      <b> DOB: </b> 5/5/95 <br>
      <b> Height: </b> 5'6''<br>
      <b> Weight: </b> 140 lbs <br>
      <b> Medications:</b> N/A <br>
      <b> Previous Medical Conditions:</b> Heart Murmur<br>
      <b> Allergies:</b> Penicillin

      <br><br>
      <b> Family History: </b><br>
      Mother: Diabetes, Breast Cancer <br> 
      Father: Sleep Apnea
      <br><br><br>
      **Previous medical information are examples of potential information <br>
      relavent for doctor's knowledge and helpful for future course of action**
  </p>
  <p style = "font-size: small;">
    <br> 
  </p>
</div>